@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center">
    <p class="lead">Welcome to our restaurant network's website!</p>
    <p>You can look through our menu and make an order or reservation by calling the displayed phone number.</p>
</div>